# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node / pnpm
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/
*.jks
*.keystore
*.mobileprovision
*.p8
*.p12

# Env
.env
.env.local
.env.*.local

# Test
coverage/

# Logs
*.log
